
/*-------Footer CSS------------------------*/
.footer {
    background-color: white;
    color: #0a0909;
    padding: 50px 0 20px;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding: 0 10%;
}

.footer-section {
    flex: 1 1 250px;
    text-align: center;
}

.footer-logo {
    height: 60px;
    margin-bottom: 10px;
}

.footer-section h4,
.footer-section h3 {
    color: #ff9800;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #0a0a0a;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: #7a6546;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #161414;
}

.social-links a {
    margin: 0 10px;
    font-size: 1.3rem;
    color: #0d0d0d;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    color: #ff9800;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 0.9rem;
    color: #bbb;
}

.footer-bottom a {
    color: #ff9800;
    text-decoration: none;
}


